body {
    min-height: 100vh;
    font-family: "Yuji Syuku", serif;
    background-image: linear-gradient(to bottom, #ffecd2 0%, #fcb69f 100%);
}

li {
    list-style-type: square;
}

.border-red {
    width: 310px;
    height: auto;
    border: thick double #ff0000;
    outline: 0.2rem solid #ff0000;
}

.font-sm {
    font-size: 0.5rem;
}

ul.colored-marker li::marker {
    color: #ff0000;
}

.text-red {
    color: #ff0000;
}

.text-blue {
    color: #0d6efd;
}

.omikuji-image {
    width: clamp(150px, 32vw, 260px);
}


a.text-red,
a.text-red:link,
a.text-red:visited,
a.text-red:active {
    color: #ff0000;
    text-decoration-thickness: 0.08em;
    text-underline-offset: 0.2em;
}

a.text-red:hover {
    color: #fff;
    opacity: 0.85;
}

.btn:focus-visible {
    outline: 3px solid rgba(220, 53, 69, 0.45);
    outline-offset: 3px;
}
